{% extends "blade.html.twig" %}
{% block body %}
    <h2>Create a Person</h2>
<div class="container card">
    <div class="row">
        <div class="col-md-12 ">
            {{ form_start(form, {attr: {novalidate: 'novalidate', id:'createForm'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>

</div>

{% endblock %}